:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;

    mat-card {
        margin-top: 1em;
        margin-right: 1em;
        min-width: 15em;

        mat-card-header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            mat-card-title {
                text-align: center;
            }

            mat-card-subtitle {
                text-align: center;
            }
        }
    }
}