:host {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;

  .mat-progress-spinner {
    display: inline-block;
    vertical-align: middle;
  }
  
  .message {
    margin-left: 0.5em;
  }  
}