<app-loader [isLoading]="isLoading" size="1.5"></app-loader>
<mat-card *ngIf="!isLoading">
    <mat-card-header>
        <mat-card-title>{{ device.deviceId }}</mat-card-title>
        <mat-card-subtitle>{{ device.connectionState }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div class="actorstates">
            <div class="actorstates-item" *ngFor="let actorstate of actorstates">
                <mat-slide-toggle
                    class="actorstate"
                    [color]="'accent'"
                    [checked]="actorstate.state == 1"
                    [disabled]="device.connectionState != 'Connected' || actorstate.isLoading"
                    (change)="changeActorState($event, actorstate)">
                    {{ actorstate.name }}
                </mat-slide-toggle>
                <div class="actorstates-item-info">
                    <div class="actorstates-item-info-lastperiod" *ngIf="actorstate && actorstate.actorStateHistory && actorstate.actorStateHistory.lastActorPeriod">
                        <div>{{actorstate.actorStateHistory.lastActorPeriod.timestamp | date:'dd.MM.yyyy' }}</div>
                        <div>{{actorstate.actorStateHistory.lastActorPeriod.timestamp | date:'H:mm' }}</div>
                        <div>({{actorstate.actorStateHistory.lastActorPeriod.duration | number:'1.0-0' }} m)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="properties">
            <mat-list *ngIf="weather">
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Conditions:</span><span>{{ weather.currentWeather }}</span></div></mat-list-item>
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Rainfall (n. {{ weather.forecastedHours }} h):</span><span>{{ weather.sumOfRain }} mm</span></div></mat-list-item>
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Temperature (avg. {{ weather.forecastedHours }} h):</span><span>{{ weather.avarageTemperature }} C°</span></div></mat-list-item>
            </mat-list>
            <mat-list *ngIf="irrigationRecommendation">
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Recommended irrigation:</span><span>{{ irrigationRecommendation.minutes | number:'1.0-0' }} m</span></div></mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>
<div class="buttom-controls-right">
    <button mat-fab (click)="refresh()">
        <mat-icon class="mat-18">refresh</mat-icon>
    </button>
</div>