<app-loader [isLoading]="isLoading" size="1.5"></app-loader>
<mat-card *ngIf="!isLoading">
    <mat-card-header>
        <mat-card-title>{{ device.deviceId }}</mat-card-title>
        <mat-card-subtitle>{{ device.connectionState }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="actorstates">
            <mat-slide-toggle *ngFor="let actorstate of actorstates"
                class="actorstate"
                [color]="'accent'"
                [checked]="actorstate.state == 1"
                [disabled]="device.connectionState != 'Connected' || actorstate.isLoading"
                (change)="changeActorState($event, actorstate)">
                {{ actorstate.name }}
            </mat-slide-toggle>
        </div>
        <div class="properties">
            <mat-list *ngIf="weather">
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Conditions:</span><span>{{ weather.currentWeather }}</span></div></mat-list-item>
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Rainfall (n. {{ weather.forecastedHours }} h):</span><span>{{ weather.sumOfRain }} l</span></div></mat-list-item>
                <mat-list-item><div class="mat-list-item-content-wrapper"><span>Temperature (avg. {{ weather.forecastedHours }} h):</span><span>{{ weather.avarageTemperature }} C°</span></div></mat-list-item>
            </mat-list> 
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="onClick">Settings&nbsp;&nbsp;<mat-icon class="mat-18">settings</mat-icon></button>
        <button mat-fab (click)="refresh()">
            <mat-icon class="mat-18">refresh</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>