<app-loader [isLoading]="isLoading" size="1.5"></app-loader>
<mat-card *ngIf="!isLoading">
    <mat-card-header>
        <mat-card-title>{{ device.deviceId }}</mat-card-title>
        <mat-card-subtitle>{{ device.connectionState }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="actorstates">
            <mat-slide-toggle *ngFor="let actorstate of actorstates"
                class="actorstate"
                [color]="'accent'"
                [checked]="actorstate.state == 1"
                [disabled]="device.connectionState != 'Connected' || actorstate.isLoading"
                (change)="changeActorState($event, actorstate)">
                {{ actorstate.name }}
            </mat-slide-toggle>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-fab (click)="refresh()">
          <mat-icon class="mat-18">refresh</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>