<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                 ngClass.gt-sm="has-border">
      <mat-toolbar class="fixed-toolbar" color="primary">
        <span translate>APP_NAME</span>
        <div fxFlex></div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span translate>Logged in</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
          </mat-menu>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="languageMenu">
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <div class="device-selector">
            <span *ngIf="isLoading">loading...</span>
            <mat-form-field *ngIf="!isLoading">
                <mat-select placeholder="device" [(ngModel)]="selectedDevice" name="device" (selectionChange)="onDeviceSelected($event)">
                  <mat-option *ngFor="let device of devices"  [value]="device">
                    {{ device.deviceId }} - {{ device.connectionState }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <mat-list *ngIf="selectedDevice">
          <mat-divider></mat-divider>
          <a mat-list-item routerLinkActive="active" (click)="onMainClick($event)">
            <span translate>Device</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLinkActive="active" (click)="onActorhistoryClick($event)">
            <span translate>Actorhistory</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLinkActive="active" (click)="onLogsClick($event)">
            <span translate>Logs</span>
          </a>
        </mat-list>
        <mat-list>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="isMobile && sidenav.close()">
              <span translate>About</span>
            </a>
            <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </mat-toolbar>
      <div class="outlet-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
